<!doctype html>
{% load i18n %}
{% load menu_tags %}
<html>
    <head>
        <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Digitalt Personvern{% endblock title %}</title>
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" />

        <link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/default.uni-form.css" />
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css">
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
        {% block css %}
        {% endblock %}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools-yui-compressed.js"></script>
        {% block header_include %}
        {% endblock %}

    </head>

    <body>

        <header>
        {% if request.user.is_authenticated %}<div id="userinfo">
            <a href="{% url pages-page-list %}">Sider</a> –
            <a href="{% url menu-list %}">Meny</a> –
            <a href="{% url media-file-list %}">Filer</a> –
            Logget inn som {{ request.user }} – <a href="{% url auth_logout %}">Logg ut</a></div>{% endif %}
        <a href="/"><img id="logo" src="{{ STATIC_URL}}img/logo.main.digitalt.personvern.110x113px.png"></a>
	</header>

	<nav id="main-menu">
        {% menu request %}
	</nav>
	<aside id="sidebar">
	{% block sidebar %}

    {% block context_info %}
        <h1>&nbsp;</h1>
    {% endblock context_info %}

	{% endblock sidebar %}
	</aside>

	<article id="main">
        <nav id="context-menu">
        <ul>
            {% block context_menu %}
            {% endblock context_menu %}
        </ul>
        </nav>

        {% block main %}

        <h1>Digitalt personvern</h1>

        {% endblock main %}
	</article>

	<footer id="footer">
    <div id="loginicon">
        <a href="{% url auth_login %}?next={{ request.path_info }}"><img src="{{ STATIC_URL }}img/favicon.png" alt="login"></a>
    </div>
    <div>
        <strong>Digitalt&nbsp;Personvern</strong>
        Thomas&nbsp;Heftyes&nbsp;gate&nbsp;50<br>
        0267&nbsp;&nbsp;Oslo
    </div>
    <div>
        <strong>Organisasjonsnummer</strong>
        997&nbsp;210&nbsp;395
    </div>
    <div>
        <strong>E-post og nettside</strong>
        &#112;&#111;&#115;&#116;&#64;&#100;&#105;&#103;&#105;&#116;&#97;&#108;&#116;&#112;&#101;&#114;&#115;&#111;&#110;&#118;&#101;&#114;&#110;&#46;&#110;&#111;<br>
        <a href="http://www.digitaltpersonvern.no/">www.digitaltpersonvern.no</a>
    </div>
    <div>
        <strong>Pressekontakt</strong>
        +47&nbsp;909&nbsp;19&nbsp;944
    </div>
    <div>
        <strong>Administrativ kontakt</strong>
        +47&nbsp;993&nbsp;86&nbsp;171
    </div>
	</footer>

    {% block footer_include %}
    {% endblock footer_include %}
    <script src="{{ STATIC_URL }}js/samklang.js"></script>
    <script>
        $(document).ready(function(){
        samklang = new Samklang();
        samklang.init();
        {% block footer_js %}{% endblock footer_js %}
        });
    </script>
	<script type="text/javascript" src="http://nclude.reinvigorate.net/re_.js"></script>
	<script type="text/javascript">
	try {
		reinvigorate.track("l79k8-tzxz28r654");
	} catch(err) {}
	</script>

    </body>
</html>
