<!doctype html>
{% load i18n %}
{% load menu_tags %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Digitalt Personvern{% endblock title %}</title>
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css">
        {% block css %}
        {% endblock %}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block js_start %}
        {% endblock %}

    </head>

    <body>

        <header>
        <a href=""><img id="logo" src="{{ STATIC_URL}}img/logo.main.digitalt.personvern.110x113px.png"></a>
	</header>

	<nav id="main-menu">
        {% menu request %}
	</nav>
	<aside id="sidebar">
	{% block sidebar %}

        <h1>Kronerulling</h1>
	<p>Digitalt Personvern samler inn penger for å prøve Datalagringsdirektivet i retten.</p>
	<p>Vi har beregnet at vi trenger minimum to millioner kroner fra organisasjoner, fond og enkeltpersoner.</p>
	<p><strong>Støtt oss og gi ditt bidrag!</strong></p>
	<p><strong>Benytt konto:</strong><br />
	1503 23 44558
	</p>
	<p><strong>BIC:</strong><br />
	DNBANOKKXXX<br />
	</p>
	<p><strong>IBAN-nummer:</strong><br />
	NO7615032344558</p>

	{% endblock sidebar %}
	</aside>

	<article id="main">
        {% block main %}

        <h1>Digitalt personvern</h1>

        {% endblock main %}
	</article>

	<footer id="footer">
	<p>Digitalt&nbsp;Personvern &nbsp; &nbsp; Thomas&nbsp;Heftyes&nbsp;gate&nbsp;50, 0267&nbsp;Oslo &nbsp; &nbsp; post@digitaltpersonvern.no &nbsp; &nbsp; Pressekontakt: +47&nbsp;909&nbsp;19&nbsp;944 &nbsp; &nbsp; Administrativ kontakt: +47&nbsp;993&nbsp;86&nbsp;171 &nbsp; &nbsp; Orgnr.: 997&nbsp;210&nbsp;395</p>
	</footer>
    </body>
</html>
