Django==1.4.17
BeautifulSoup==3.2.0
Markdown==2.0.3
South==0.7.3
Unidecode==0.04.9
django-floppyforms==0.4.7
django-mptt==0.4.2
django-uni-form==0.9.0
django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev
pyRFC3339==0.1
python-magic==0.4.6
pytz==2011n
wsgiref==0.1.2
samklang-blog==0.3.1
samklang-media==0.4.0
samklang-menu==0.4.0
samklang-pages==0.4.0
samklang-payment==0.5.0
samklang-utils==0.3.4
