Django
BeautifulSoup
Markdown
South
Unidecode
django-floppyforms
django-mptt
django-uni-form
django-taggit
django-taggit-templatetags
pyRFC3339
python-magic
pytz
wsgiref
samklang-blog==0.2.2
samklang-media==0.3.0
samklang-menu==0.3.2
samklang-pages==0.3.3
samklang-payment==0.4.5
samklang-utils==0.3.4
