@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html { }
body { font size:"1"; font-family: 'Droid Sans', sans-serif; margin: 0 auto; width: 960px; color: #54534a; position: relative; }

p { color: #333333; }
strong { color: #54534a; }

a { text-decoration: none; } 
a:link, a:visited, a:hover, a:active { color: #de8b19; }
a:hover { color: #54534a; text-decoration: underline; }

nav a { text-transform: uppercase; }
nav a:hover { text-decoration: none;}

#header { height: 153px; }
#userinfo a:hover { text-decoration: none; }
#logo { margin: 20px 0; }
#footer { width: 100%; clear: both; border-top: 8px solid #54534a; text-align: left; margin-top: 60px; font-size: 11px; color: #54534a; font-family: verdana, helvetiva, arial, sans-serif; padding-top: 12px; padding-bottom: 100px; }
#footer div { width: 160px; margin-right: 5px; float: left; }
#footer div strong { display: block; margin-bottom: 4px; }
#footer div#loginicon { float: right; width: 20px; margin-right: 0; margin-top: 2px; }

hr { width: 100%; height: 8px; border: 0; background-color: #54534a; margin: 40px 0; }

/* div.picturewrapper { height: 137px; } */
img.orange { border: 1px solid #de8b19; border-bottom: 8px solid #de8b19; float: left; margin-right: 10px; }
img.gray { border: 1px solid #54534a; border-bottom: 8px solid #54534a; float: left; margin-right: 10px; }
div.rightofpicture { height: 137px; vertical-align: bottom; display: table-cell; }
div.rightofpicture p { margin-bottom: 4px; }

h1 { font-size: 1em; text-transform: uppercase; margin: 0; border-bottom: 8px solid #de8b19; padding-bottom: 8px; }
h2 { font-size: 1em; text-transform: uppercase; }
h3 { font-size: 1em; font-weight: 700; }
div.rightofpicture h2 { margin-bottom: 0; text-transform: inherit; }
div.rightofpicture p { margin-top: 0; }

/* #main { width: 620px; margin 0 10px; position: absolute: top: 157px; left: 0; } */
/* #sidebar { width: 300px; margin 0 10px; position: absolute; top: 157px; right: 0; } */
#main { width: 620px; margin 0 10px; position: relative; }
#sidebar { width: 300px; margin 0 10px; float: right; }

#sidebar h1 { border-bottom: 8px solid #54534a; }

#main-menu { position: absolute; top: 100px; right: -10px; }
#main-menu ul li { float: left; margin: 0 0 0 0; font-weight: bold; }
#main-menu ul li a { padding: 5px 10px; }
#main-menu ul li a.active { background-color: #54534a; border-radius: 15px; color: #fff; }

#context-menu { position: absolute; top: 3px; right: 0; font-size: 12px; }
#context-menu ul li { float: left; margin: 0 0 0 20px; font-weight: bold; }

.object-menu ul { float: right; font-size: 0.8em; padding: 0; }
.object-menu ul li { float: left; }

h1 { margin-top: 1ex }
.widget { position: relative; margin: 0.5ex 0; padding: 0; }
.widget-context-menu { position: absolute; top: 0; right: 0; }
.widget-context-menu a { color: #000; text-decoration: none; }
.widget h1 { margin-top: 0.5ex; padding-top: 0.5ex; }

#userinfo { position: absolute; top: 20px; right: 0; }

/* #addressbar { background-color: #54534a; height: 8px; width: 100%; } */
/* #bottomlinks { background-color: #de8b19; height: 75px; width: 100%; } */

div.post { position: relative; }
div.post div.meta { position: absolute; top: 8px; right: 0; color: #de8b19; font-size: 12px; }

#contributionbar { background: url("/static/img/contribution-bar-background.png") no-repeat; height: 57px; position: relative; margin-bottom: 1em; } /* padding-right: 80px; */
#contributionbarcontainer { width: 560px; position: relative; }
#contributionbarvalue { height: 8px; background-color: rgba(222, 139, 25, 0.85); position: absolute; left: 3px; top: 20px; }

#contribute { width: 100%; background-color: #de8b19; }
#contribute p { text-transform: uppercase; text-align: center; color: #ffffff; padding: 5px 0; }
#contribute strong { font-weight: bold; color: #ffffff; }
#contribute a { display: block; text-transform: uppercase; text-align: center; color: #ffffff; padding: 5px 0; font-weight: bold; color: #ffffff; }

.tagline { border-top: 1px solid rgba(0, 0, 0, 0.1); margin: 1.5em 0 0; padding: 0.5em 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1 ); }
.tagline .tag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04); border-radius: 4px; margin-right: 6px; color: #808080; font-size: 0.85em; padding: 0.2em 0.9em; line-height: 24px; }


.ui-nestedSortable-error{background:#fbe3e4;color:#8a1f11}
div#new_menu_item div#div_id_parent{display:none}
ol.nested_sortable{margin:1em 0;padding:0;list-style-type:none;}
ol.nested_sortable ol{padding:0;margin:0 0 0 25px;list-style-type:none}
ol.nested_sortable li{margin:5px 0 0 0;padding:0;}
ol.nested_sortable li.placeholder{border:1px solid #efefef;-moz-box-shadow:0 -1px 2px rgba(0,0,0,0.4);-webkit-box-shadow:0 -1px 2px rgba(0,0,0,0.4);box-shadow:0 -1px 2px rgba(0,0,0,0.4);background:top;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffcdf, endColorstr=#efeccf);background:-webkit-gradient(linear,left top,left bottom,from(#fffcdf),to(#efeccf));background:-moz-linear-gradient(top,#fffcdf,#efeccf);border-radius:3px}
ol.nested_sortable li div{border:1px solid #aaa;padding:3px;margin:0;cursor:move;border-radius:3px;background:top;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#efefef);background:-webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#efefef));background:-moz-linear-gradient(top,#fefefe,#efefef);}
ol.nested_sortable li div:hover{box-shadow:0 0 3px rgba(0,0,0,0.4)}
span.new_item,span.delete_item{cursor:pointer;display:block;margin:0;padding:0;width:13px;height:13px;float:right;margin-left:2px}
span.new_item{background:transparent url("/static/img/plus.png") 50% 50% no-repeat}
span.delete_item{background:transparent url("/static/img/minus.png") 50% 50% no-repeat}
.uniForm .multiField { width: 100%; margin-bottom: 25px; background-color: #efefef; border: 1px solid #ddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.uniForm .textInput, .uniForm .inlineLabels .textInput, .uniForm .inlineLabels .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select, .uniForm textarea, .uniForm .inlineLabels textarea { width: 100%; }
.uniForm .inlineLabels .formHint { margin-left: 0; margin-top: 7px; }
.uniForm .inlineLabels label, .uniForm .inlineLabels .label { width: 100%; }
.uniForm .blockLabels label, .uniForm .blockLabels .label { width: 100%; }
.uniForm .textInput, .uniForm .blockLabels .textInput, .uniForm .blockLabels .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm .blockLabels .selectInput, .uniForm .blockLabels select, .uniForm textarea, .uniForm .blockLabels textarea { width: 100%; }
.uniForm .formHint, .uniForm .blockLabels .formHint { width: 100%; }
.uniForm .blockLabels .formHint { margin-left: 0; margin-top: 7px; }
.uniForm .ctrlHolder { padding: 5px 0; }
form.uniForm { margin-bottom: 2em; }

#sidebar .uniForm textarea, #sidebar .uniForm .textInput { width: 294px; }
.uniForm textarea, .uniForm .textInput { width: 99%; }

.share div { display: inline; }
.share label { display: inherit; }
.share select { width: auto; }
.share .ctrlHolder { float: left }

#image-upload { width: 100%; margin: 0 auto; height: 300px; border: none; }

table thead, table tfoot { background-color: #ddd; }
table .odd td, table .odd th { background-color: #fff; }
table .even td, table .even th { background-color: #efefef; }
table .right { text-align: right; }
#payment-table td, #payment-table th { padding: 2px; border: 1px solid #efefef; }


ul.latest-entries { padding:0; list-style-type:none; }
ul.latest-entries li { margin: 0.5em 0; }
ul.latest-entries h2 { margin: 0; }
div.meta { font-size: 0.8em; }

.archive .blogpost { padding-bottom: 1em; }
.blogpost h2 { margin-bottom: 0; }

.blogpost div.meta { text-align: right }
.blogpost p.more { margin-top: -1em; }

.blogpost h1 { padding: 0; border: 0; }
.blogpost h2 { text-transform: none; }

.blogpost h1.title { margin-bottom: 0; border-bottom: 8px solid #de8b19; padding-bottom: 8px; }
.blogpost h2.title { text-transform: uppercase; margin-top: 8px; border-top: 8px solid #de8b19; padding-top: 8px; }

#blogheader { border: 0; padding: 0; }
