/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Sigurd Gartmann
   ========================================================================== */


@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html { margin: 0 auto; width: 960px; }
body { font-size: 16px; font-family: 'Droid Sans', sans-serif; margin: 0 10px; color: #54534a; position: relative; }

p { color: #333333; }
strong { color: #54534a; }

a { text-decoration: none; } 
a:link, a:visited, a:hover, a:active { color: #de8b19; }
a:hover { color: #54534a; text-decoration: underline; }

nav a { text-transform: uppercase; }
nav a:hover { text-decoration: none;}

#header { height: 153px; }
#userinfo a:hover { text-decoration: none; }
#logo { margin: 20px 0; }
#footer { width: 100%; border-top: 8px solid #54534a; clear: both; margin-top: 60px; padding-top: 12px; padding-bottom: 100px; position: relative; }
#footer div#loginicon { position: absolute; top: 12px; right: 0; }
#footer-blocks { font-size: 11px; color: #54534a; font-family: "verdana", "helvetica", "arial", sans-serif; }
#footer-blocks div { width: 220px; margin-left: 20px; float: left; }
#footer-blocks div:first-child { margin-left: 0; }
/*#footer-blocks div:last-child { margin-right: 0; }*/
#footer-blocks div strong { display: block; margin-bottom: 4px; }

hr { width: 100%; height: 8px; border: 0; background-color: #54534a; margin: 40px 0; }

.opposite { float: right }

/* div.picturewrapper { height: 137px; } */
img.orange { border: 1px solid #de8b19; border-bottom: 8px solid #de8b19; float: left; margin: 15px 10px 0 0; }
img.gray { border: 1px solid #54534a; border-bottom: 8px solid #54534a; float: left; margin: 15px 10px 0 0; }
div.rightofpicture { height: 152px; vertical-align: bottom; display: table-cell; padding-bottom: 4px; }
div.rightofpicture p { margin-bottom: 0; }

h1 { font-size: 16px; text-transform: uppercase; margin: 0; border-bottom: 8px solid #de8b19; padding-bottom: 8px; }
h2 { font-size: 16px; text-transform: uppercase; }
h3 { font-size: 16px; font-weight: 700; }
div.rightofpicture h2 { margin-bottom: 0; text-transform: inherit; }
div.rightofpicture p { margin-top: 0; }

/* #main { width: 620px; margin 0 10px; position: absolute: top: 157px; left: 0; } */
/* #sidebar { width: 300px; margin 0 10px; position: absolute; top: 157px; right: 0; } */
#main { width: 620px; margin 0 10px; position: relative; }
#sidebar { width: 300px; margin 0 10px; float: right; }

#sidebar h1 { border-bottom: 8px solid #54534a; }

#main-menu { position: absolute; top: 100px; right: 0; }
#main-menu ul li { float: left; margin: 0 0 0 0; font-weight: bold; }
#main-menu ul li a { padding: 5px 10px; }
#main-menu ul li a.active { background-color: #54534a; border-radius: 15px; color: #fff; }

#context-menu { position: absolute; top: 34px; right: 0; font-size: 12px; z-index: 1;}
#context-menu ul li { float: left; margin: 0 0 0 20px; font-weight: bold;}

.object-menu ul { float: right; font-size: 0.8em; padding: 0; }
.object-menu ul li { float: left; }

h1 { margin-top: 1ex }
.widget { position: relative; margin: 0.5ex 0; padding: 0; }
.widget-context-menu { position: absolute; top: 0; right: 0; }
.widget-context-menu a { color: #000; text-decoration: none; }
.widget h1 { margin-top: 0.5ex; padding-top: 0.5ex; }

#userinfo { position: absolute; top: 20px; right: 10px; }

/* #addressbar { background-color: #54534a; height: 8px; width: 100%; } */
/* #bottomlinks { background-color: #de8b19; height: 75px; width: 100%; } */

/*
div.post { position: relative; }
div.post div.meta { position: absolute; top: 3px; right: 0; color: #de8b19; font-size: 12px; }
*/

#contributionbar { background: url("/static/img/contribution-bar-background.png") no-repeat; height: 57px; position: relative; margin-bottom: 1em; } /* padding-right: 80px; */
#contributionbarcontainer { width: 560px; position: relative; }
#contributionbarvalue { height: 8px; background-color: rgba(222, 139, 25, 0.85); position: absolute; left: 3px; top: 20px; }

#contribute { width: 100%; background-color: #de8b19; margin: 1em 0; }
#contribute p { text-transform: uppercase; text-align: center; color: #ffffff; padding: 5px 0; }
#contribute strong { font-weight: bold; color: #ffffff; }
#contribute a { display: block; text-transform: uppercase; text-align: center; color: #ffffff; padding: 5px 0; font-weight: bold; color: #ffffff; }

.tagline { border-top: 1px solid rgba(0, 0, 0, 0.1); margin: 1.5em 0 0; padding: 0.5em 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1 ); }
.tagline .tag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04); border-radius: 4px; margin-right: 6px; color: #808080; font-size: 0.85em; padding: 0.2em 0.9em; line-height: 24px; }

.ui-nestedSortable-error{background:#fbe3e4;color:#8a1f11}
div#new_menu_item div#div_id_parent{display:none}
ol.nested_sortable{margin:1em 0;padding:0;list-style-type:none;}
ol.nested_sortable ol{padding:0;margin:0 0 0 25px;list-style-type:none}
ol.nested_sortable li{margin:5px 0 0 0;padding:0;}
ol.nested_sortable li.placeholder{border:1px solid #efefef;-moz-box-shadow:0 -1px 2px rgba(0,0,0,0.4);-webkit-box-shadow:0 -1px 2px rgba(0,0,0,0.4);box-shadow:0 -1px 2px rgba(0,0,0,0.4);background:top;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffcdf, endColorstr=#efeccf);background:-webkit-gradient(linear,left top,left bottom,from(#fffcdf),to(#efeccf));background:-moz-linear-gradient(top,#fffcdf,#efeccf);border-radius:3px}
ol.nested_sortable li div{border:1px solid #aaa;padding:3px;margin:0;cursor:move;border-radius:3px;background:top;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#efefef);background:-webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#efefef));background:-moz-linear-gradient(top,#fefefe,#efefef);}
ol.nested_sortable li div:hover{box-shadow:0 0 3px rgba(0,0,0,0.4)}
span.new_item,span.delete_item{cursor:pointer;display:block;margin:0;padding:0;width:13px;height:13px;float:right;margin-left:2px}
span.new_item{background:transparent url("/static/img/plus.png") 50% 50% no-repeat}
span.delete_item{background:transparent url("/static/img/minus.png") 50% 50% no-repeat}
.uniForm .multiField { width: 100%; margin-bottom: 25px; background-color: #efefef; border: 1px solid #ddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.uniForm .textInput, .uniForm .inlineLabels .textInput, .uniForm .inlineLabels .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select, .uniForm textarea, .uniForm .inlineLabels textarea { width: 54%; }
.uniForm .inlineLabels .formHint { margin-left: 0; margin-top: 7px; }
.uniForm .inlineLabels label, .uniForm .inlineLabels .label { width: 100%; }
.uniForm .blockLabels label, .uniForm .blockLabels .label { width: 100%; }
.uniForm .textInput, .uniForm .blockLabels .textInput, .uniForm .blockLabels .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm .blockLabels .selectInput, .uniForm .blockLabels select, .uniForm textarea, .uniForm .blockLabels textarea { width: 99%; }
.uniForm .formHint, .uniForm .blockLabels .formHint { width: 100%; }
.uniForm .blockLabels .formHint { margin-left: 0; margin-top: 7px; }
.uniForm .ctrlHolder { padding: 5px 0; border: none; }
form.uniForm { margin-bottom: 2em; }

#sidebar .uniForm textarea, #sidebar .uniForm .textInput { width: 294px; }
.uniForm textarea, .uniForm .textInput { width: 99%; }

.share div { display: inline; }
.share label { display: inherit; }
.share select { width: auto; }
.share .ctrlHolder { float: left }

#image-upload { width: 100%; margin: 0 auto; height: 300px; border: none; }

table thead, table tfoot { background-color: #ddd; }
table .odd td, table .odd th { background-color: #fff; }
table .even td, table .even th { background-color: #efefef; }
table .right { text-align: right; }
#payment-table td, #payment-table th { padding: 2px; border: 1px solid #efefef; }

span.donationsuggestion { margin-left: 10px; }

ul.latest-entries { padding:0; list-style-type:none; }
ul.latest-entries li { margin: 0.5em 0; }
ul.latest-entries h2 { margin: 0; }
div.meta { font-size: 0.8em; }

.blogpost { padding-bottom: 1em; position: relative; }
.blogpost h2 { margin-bottom: 0; }

.blogpost div.meta { position: absolute; top: 3px; right: 0; padding: 0; margin: 0; }
.archive .blogpost .meta { top: 19px; }
.blogpost p.more { margin-top: -1em; text-align: right; }

.blogpost h1 { padding: 0; border: 0; margin: 0; }
.blogpost h2 { text-transform: none; }

.blogpost h1.title { margin-bottom: 0; border-bottom: 8px solid #de8b19; padding-bottom: 8px; }
.blogpost h2.title { text-transform: uppercase; margin-top: 8px; border-top: 8px solid #de8b19; padding-top: 8px; }

#blogheader { border: 0; padding: 0; }
#blog { margin-top: -7px; }
#blog h1 { padding-bottom: 8px; margin-bottom: 0; border-bottom: 8px solid #de8b19; }


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

