{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block main %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post" class="uniForm">{% csrf_token %}
    {{ form|as_uni_form }}
    <button type="submit">{% trans 'Reset my password' %}</button>
</form>

{% endblock main %}

{% block footer_js %}
document.getElementById('id_email').focus()
{% endblock %}
